DATABASE_URL=jdbc:postgresql://HOST/DB_NAME?sslmode=require
JWT_SECRET=replace_with_strong_secret
JWT_ISSUER=recipebook-server
JWT_AUDIENCE=recipebook-client
JWT_REALM=RecipeBook API
SEED_ON_START=true
